@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.18 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.visible{
  visibility: visible;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.bottom-1{
  bottom: 0.25rem;
}

.left-28{
  left: 7rem;
}

.left-\[1rem\]{
  left: 1rem;
}

.top-0{
  top: 0px;
}

.top-10{
  top: 2.5rem;
}

.top-40{
  top: 10rem;
}

.top-\[6rem\]{
  top: 6rem;
}

.bottom-10{
  bottom: 2.5rem;
}

.bottom-20{
  bottom: 5rem;
}

.top-16{
  top: 4rem;
}

.top-60{
  top: 15rem;
}

.left-8{
  left: 2rem;
}

.top-11{
  top: 2.75rem;
}

.top-52{
  top: 13rem;
}

.top-48{
  top: 12rem;
}

.top-56{
  top: 14rem;
}

.top-\[230px\]{
  top: 230px;
}

.top-\[235px\]{
  top: 235px;
}

.top-64{
  top: 16rem;
}

.top-72{
  top: 18rem;
}

.top-96{
  top: 24rem;
}

.top-\[250px\]{
  top: 250px;
}

.top-\[350px\]{
  top: 350px;
}

.top-\[450px\]{
  top: 450px;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 20;
}

.z-30{
  z-index: 30;
}

.z-40{
  z-index: 40;
}

.z-50{
  z-index: 50;
}

.mx-5{
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-7{
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.-ml-28{
  margin-left: -7rem;
}

.-ml-36{
  margin-left: -9rem;
}

.-ml-72{
  margin-left: -18rem;
}

.-ml-\[299px\]{
  margin-left: -299px;
}

.-ml-\[9\.95rem\]{
  margin-left: -9.95rem;
}

.ml-5{
  margin-left: 1.25rem;
}

.ml-9{
  margin-left: 2.25rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-14{
  margin-top: 3.5rem;
}

.mt-20{
  margin-top: 5rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-\[210px\]{
  margin-top: 210px;
}

.mt-\[6\.1rem\]{
  margin-top: 6.1rem;
}

.-ml-\[200px\]{
  margin-left: -200px;
}

.-ml-\[100px\]{
  margin-left: -100px;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.h-1\.4{
  height: 1.4rem;
}

.h-1\.8{
  height: 1.825rem;
}

.h-155{
  height: 155.59539794921875px;
}

.h-172{
  height: 172.51690673828125px;
}

.h-222{
  height: 222.86874389648438px;
}

.h-250{
  height: 250px;
}

.h-320{
  height: 320.47698974609375px;
}

.h-360{
  height: 360.5054626464844px;
}

.h-\[38rem\]{
  height: 38rem;
}

.w-10{
  width: 2.5rem;
}

.w-167{
  width: 167.56427001953125px;
}

.w-216{
  width: 216.2652130126953px;
}

.w-297{
  width: 297.77740478515625px;
}

.w-299{
  width: 299.6346435546875px;
}

.w-97{
  width: 97.40189361572266px;
}

.w-full{
  width: 100%;
}

.w-80{
  width: 20rem;
}

.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.overflow-ellipsis{
  text-overflow: ellipsis;
}

.bg-red-800{
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity, 1));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.px-20{
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-9{
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.px-52{
  padding-left: 13rem;
  padding-right: 13rem;
}

.px-28{
  padding-left: 7rem;
  padding-right: 7rem;
}

.px-16{
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-12{
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-14{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.pb-14{
  padding-bottom: 3.5rem;
}

.pt-28{
  padding-top: 7rem;
}

.pt-11{
  padding-top: 2.75rem;
}

.pt-60{
  padding-top: 15rem;
}

.pt-96{
  padding-top: 24rem;
}

.pt-64{
  padding-top: 16rem;
}

.pt-80{
  padding-top: 20rem;
}

.text-center{
  text-align: center;
}

.font-outfit{
  font-family: "Outfit", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-0\.9{
  font-size: 0.938rem;
}

.text-2{
  font-size: 2rem;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[1\.13rem\]{
  font-size: 1.13rem;
}

.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.text-secondary{
  --tw-text-opacity: 1;
  color: rgb(0 100 45 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 768px){
  .md\:fixed{
    position: fixed;
  }

  .md\:left-72{
    left: 18rem;
  }

  .md\:left-\[27rem\]{
    left: 27rem;
  }

  .md\:right-10{
    right: 2.5rem;
  }

  .md\:top-9{
    top: 2.25rem;
  }

  .md\:top-\[5rem\]{
    top: 5rem;
  }

  .md\:left-20{
    left: 5rem;
  }

  .md\:top-72{
    top: 18rem;
  }

  .md\:z-30{
    z-index: 30;
  }

  .md\:z-50{
    z-index: 50;
  }

  .md\:z-auto{
    z-index: auto;
  }

  .md\:z-0{
    z-index: 0;
  }

  .md\:z-10{
    z-index: 10;
  }

  .md\:z-40{
    z-index: 40;
  }

  .md\:z-20{
    z-index: 20;
  }

  .md\:mx-9{
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

  .md\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .md\:-ml-0{
    margin-left: -0px;
  }

  .md\:mr-\[10rem\]{
    margin-right: 10rem;
  }

  .md\:mt-0{
    margin-top: 0px;
  }

  .md\:mt-7{
    margin-top: 1.75rem;
  }

  .md\:ml-8{
    margin-left: 2rem;
  }

  .md\:ml-20{
    margin-left: 5rem;
  }

  .md\:ml-40{
    margin-left: 10rem;
  }

  .md\:ml-44{
    margin-left: 11rem;
  }

  .md\:ml-48{
    margin-left: 12rem;
  }

  .md\:-ml-80{
    margin-left: -20rem;
  }

  .md\:-ml-60{
    margin-left: -15rem;
  }

  .md\:-ml-40{
    margin-left: -10rem;
  }

  .md\:-ml-44{
    margin-left: -11rem;
  }

  .md\:-ml-48{
    margin-left: -12rem;
  }

  .md\:-ml-28{
    margin-left: -7rem;
  }

  .md\:-ml-36{
    margin-left: -9rem;
  }

  .md\:-ml-96{
    margin-left: -24rem;
  }

  .md\:-ml-9{
    margin-left: -2.25rem;
  }

  .md\:-mt-48{
    margin-top: -12rem;
  }

  .md\:mt-48{
    margin-top: 12rem;
  }

  .md\:-ml-\[400px\]{
    margin-left: -400px;
  }

  .md\:-ml-\[500px\]{
    margin-left: -500px;
  }

  .md\:-ml-\[600px\]{
    margin-left: -600px;
  }

  .md\:mt-44{
    margin-top: 11rem;
  }

  .md\:mt-36{
    margin-top: 9rem;
  }

  .md\:-ml-\[700px\]{
    margin-left: -700px;
  }

  .md\:-ml-\[650px\]{
    margin-left: -650px;
  }

  .md\:-ml-\[630px\]{
    margin-left: -630px;
  }

  .md\:mt-72{
    margin-top: 18rem;
  }

  .md\:mt-96{
    margin-top: 24rem;
  }

  .md\:mt-\[630px\]{
    margin-top: 630px;
  }

  .md\:mt-\[500px\]{
    margin-top: 500px;
  }

  .md\:-ml-\[680px\]{
    margin-left: -680px;
  }

  .md\:-ml-\[790px\]{
    margin-left: -790px;
  }

  .md\:-ml-\[750px\]{
    margin-left: -750px;
  }

  .md\:-ml-\[760px\]{
    margin-left: -760px;
  }

  .md\:-ml-\[60px\]{
    margin-left: -60px;
  }

  .md\:-ml-\[100px\]{
    margin-left: -100px;
  }

  .md\:-ml-\[150px\]{
    margin-left: -150px;
  }

  .md\:-ml-\[200px\]{
    margin-left: -200px;
  }

  .md\:-ml-\[300px\]{
    margin-left: -300px;
  }

  .md\:-ml-\[590px\]{
    margin-left: -590px;
  }

  .md\:-ml-\[580px\]{
    margin-left: -580px;
  }

  .md\:mt-\[480px\]{
    margin-top: 480px;
  }

  .md\:mt-\[400px\]{
    margin-top: 400px;
  }

  .md\:mt-32{
    margin-top: 8rem;
  }

  .md\:mt-24{
    margin-top: 6rem;
  }

  .md\:mt-\[450px\]{
    margin-top: 450px;
  }

  .md\:-ml-\[585px\]{
    margin-left: -585px;
  }

  .md\:-ml-\[575px\]{
    margin-left: -575px;
  }

  .md\:-ml-\[250px\]{
    margin-left: -250px;
  }

  .md\:-ml-\[240px\]{
    margin-left: -240px;
  }

  .md\:-ml-\[230px\]{
    margin-left: -230px;
  }

  .md\:-ml-\[565px\]{
    margin-left: -565px;
  }

  .md\:-ml-\[660px\]{
    margin-left: -660px;
  }

  .md\:-ml-\[640px\]{
    margin-left: -640px;
  }

  .md\:-ml-\[647px\]{
    margin-left: -647px;
  }

  .md\:-ml-\[643px\]{
    margin-left: -643px;
  }

  .md\:-ml-\[113px\]{
    margin-left: -113px;
  }

  .md\:mt-\[40px\]{
    margin-top: 40px;
  }

  .md\:mt-\[100px\]{
    margin-top: 100px;
  }

  .md\:mt-\[200px\]{
    margin-top: 200px;
  }

  .md\:mt-\[300px\]{
    margin-top: 300px;
  }

  .md\:-ml-\[180px\]{
    margin-left: -180px;
  }

  .md\:-ml-\[340px\]{
    margin-left: -340px;
  }

  .md\:-ml-\[350px\]{
    margin-left: -350px;
  }

  .md\:-ml-\[320px\]{
    margin-left: -320px;
  }

  .md\:-ml-\[333px\]{
    margin-left: -333px;
  }

  .md\:-ml-\[328px\]{
    margin-left: -328px;
  }

  .md\:-ml-\[330px\]{
    margin-left: -330px;
  }

  .md\:-ml-\[335px\]{
    margin-left: -335px;
  }

  .md\:-ml-\[325px\]{
    margin-left: -325px;
  }

  .md\:-ml-\[323px\]{
    margin-left: -323px;
  }

  .md\:mt-\[250px\]{
    margin-top: 250px;
  }

  .md\:mt-\[210px\]{
    margin-top: 210px;
  }

  .md\:mt-\[215px\]{
    margin-top: 215px;
  }

  .md\:mt-\[218px\]{
    margin-top: 218px;
  }

  .md\:-ml-\[280px\]{
    margin-left: -280px;
  }

  .md\:-ml-\[140px\]{
    margin-left: -140px;
  }

  .md\:-ml-\[135px\]{
    margin-left: -135px;
  }

  .md\:-ml-\[130px\]{
    margin-left: -130px;
  }

  .md\:-ml-\[360px\]{
    margin-left: -360px;
  }

  .md\:-ml-\[260px\]{
    margin-left: -260px;
  }

  .md\:-ml-\[290px\]{
    margin-left: -290px;
  }

  .md\:-ml-\[305px\]{
    margin-left: -305px;
  }

  .md\:mt-3{
    margin-top: 0.75rem;
  }

  .md\:mt-5{
    margin-top: 1.25rem;
  }

  .md\:mt-9{
    margin-top: 2.25rem;
  }

  .md\:hidden{
    display: none;
  }

  .md\:h-2\.3{
    height: 2.344rem;
  }

  .md\:h-2\.8{
    height: 2.84rem;
  }

  .md\:h-\[-50rem\]{
    height: -50rem;
  }

  .md\:h-\[900px\]{
    height: 900px;
  }

  .md\:h-\[600px\]{
    height: 600px;
  }

  .md\:h-\[763\.9452514648438\]{
    height: 763.9452514648438;
  }

  .md\:h-\[763\.9452514648438px\]{
    height: 763.9452514648438px;
  }

  .md\:h-\[472\.2799987792969px\]{
    height: 472.2799987792969px;
  }

  .md\:h-\[529\.773681640625px\]{
    height: 529.773681640625px;
  }

  .md\:h-\[365\.5796813964844px\]{
    height: 365.5796813964844px;
  }

  .md\:h-\[679\.12109375px\]{
    height: 679.12109375px;
  }

  .md\:h-\[329\.7214050292969px\]{
    height: 329.7214050292969px;
  }

  .md\:h-\[329px\]{
    height: 329px;
  }

  .md\:h-0{
    height: 0px;
  }

  .md\:h-auto{
    height: auto;
  }

  .md\:h-\[129px\]{
    height: 129px;
  }

  .md\:h-\[229px\]{
    height: 229px;
  }

  .md\:w-3\.9{
    width: 3.97rem;
  }

  .md\:w-64{
    width: 16rem;
  }

  .md\:w-80{
    width: 20rem;
  }

  .md\:w-fit{
    width: -moz-fit-content;
    width: fit-content;
  }

  .md\:w-full{
    width: 100%;
  }

  .md\:w-\[400px\]{
    width: 400px;
  }

  .md\:w-\[700px\]{
    width: 700px;
  }

  .md\:w-\[600px\]{
    width: 600px;
  }

  .md\:w-\[634\.9542236328125\]{
    width: 634.9542236328125;
  }

  .md\:w-\[634\.9542236328125px\]{
    width: 634.9542236328125px;
  }

  .md\:w-\[458\.2864990234375px\]{
    width: 458.2864990234375px;
  }

  .md\:w-\[565\.79833984375px\]{
    width: 565.79833984375px;
  }

  .md\:w-\[631\.0185546875px\]{
    width: 631.0185546875px;
  }

  .md\:w-\[355\.0845642089844px\]{
    width: 355.0845642089844px;
  }

  .md\:w-\[206\.4038543701172px\]{
    width: 206.4038543701172px;
  }

  .md\:w-96{
    width: 24rem;
  }

  .md\:space-y-10 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
  }

  .md\:overflow-hidden{
    overflow: hidden;
  }

  .md\:bg-red-900{
    --tw-bg-opacity: 1;
    background-color: rgb(127 29 29 / var(--tw-bg-opacity, 1));
  }

  .md\:px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:pl-12{
    padding-left: 3rem;
  }

  .md\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-\[2rem\]{
    font-size: 2rem;
  }

  .md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:font-medium{
    font-weight: 500;
  }

  .md\:text-red-800{
    --tw-text-opacity: 1;
    color: rgb(153 27 27 / var(--tw-text-opacity, 1));
  }
}

@media (min-width: 1024px){
  .lg\:relative{
    position: relative;
  }

  .lg\:left-0{
    left: 0px;
  }

  .lg\:left-\[52rem\]{
    left: 52rem;
  }

  .lg\:top-0{
    top: 0px;
  }

  .lg\:top-14{
    top: 3.5rem;
  }

  .lg\:top-\[-34rem\]{
    top: -34rem;
  }

  .lg\:top-\[-42rem\]{
    top: -42rem;
  }

  .lg\:bottom-20{
    bottom: 5rem;
  }

  .lg\:left-32{
    left: 8rem;
  }

  .lg\:top-96{
    top: 24rem;
  }

  .lg\:top-28{
    top: 7rem;
  }

  .lg\:top-24{
    top: 6rem;
  }

  .lg\:top-10{
    top: 2.5rem;
  }

  .lg\:z-50{
    z-index: 50;
  }

  .lg\:z-40{
    z-index: 40;
  }

  .lg\:m-5{
    margin: 1.25rem;
  }

  .lg\:mx-10{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .lg\:mx-9{
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

  .lg\:mr-\[38rem\]{
    margin-right: 38rem;
  }

  .lg\:mt-5{
    margin-top: 1.25rem;
  }

  .lg\:-ml-80{
    margin-left: -20rem;
  }

  .lg\:-ml-\[299px\]{
    margin-left: -299px;
  }

  .lg\:-ml-\[499px\]{
    margin-left: -499px;
  }

  .lg\:-ml-\[699px\]{
    margin-left: -699px;
  }

  .lg\:-ml-\[7500px\]{
    margin-left: -7500px;
  }

  .lg\:-ml-\[750px\]{
    margin-left: -750px;
  }

  .lg\:-ml-\[850px\]{
    margin-left: -850px;
  }

  .lg\:mt-\[450px\]{
    margin-top: 450px;
  }

  .lg\:mt-\[550px\]{
    margin-top: 550px;
  }

  .lg\:mt-\[500px\]{
    margin-top: 500px;
  }

  .lg\:-ml-\[80px\]{
    margin-left: -80px;
  }

  .lg\:mt-\[50px\]{
    margin-top: 50px;
  }

  .lg\:-ml-\[200px\]{
    margin-left: -200px;
  }

  .lg\:mt-\[100px\]{
    margin-top: 100px;
  }

  .lg\:-ml-\[400px\]{
    margin-left: -400px;
  }

  .lg\:mt-\[300px\]{
    margin-top: 300px;
  }

  .lg\:mt-\[250px\]{
    margin-top: 250px;
  }

  .lg\:mt-\[200px\]{
    margin-top: 200px;
  }

  .lg\:mt-\[140px\]{
    margin-top: 140px;
  }

  .lg\:mt-\[150px\]{
    margin-top: 150px;
  }

  .lg\:mt-\[160px\]{
    margin-top: 160px;
  }

  .lg\:mt-\[180px\]{
    margin-top: 180px;
  }

  .lg\:-ml-\[1000px\]{
    margin-left: -1000px;
  }

  .lg\:-ml-\[1200px\]{
    margin-left: -1200px;
  }

  .lg\:-ml-\[110px\]{
    margin-left: -110px;
  }

  .lg\:-ml-\[1100px\]{
    margin-left: -1100px;
  }

  .lg\:mt-\[400px\]{
    margin-top: 400px;
  }

  .lg\:-ml-\[480px\]{
    margin-left: -480px;
  }

  .lg\:mt-\[80px\]{
    margin-top: 80px;
  }

  .lg\:mt-\[60px\]{
    margin-top: 60px;
  }

  .lg\:-ml-\[100px\]{
    margin-left: -100px;
  }

  .lg\:-ml-\[10px\]{
    margin-left: -10px;
  }

  .lg\:-ml-\[500px\]{
    margin-left: -500px;
  }

  .lg\:mt-\[30px\]{
    margin-top: 30px;
  }

  .lg\:mt-\[38px\]{
    margin-top: 38px;
  }

  .lg\:-ml-\[470px\]{
    margin-left: -470px;
  }

  .lg\:-ml-\[460px\]{
    margin-left: -460px;
  }

  .lg\:-ml-\[450px\]{
    margin-left: -450px;
  }

  .lg\:ml-52{
    margin-left: 13rem;
  }

  .lg\:ml-48{
    margin-left: 12rem;
  }

  .lg\:ml-44{
    margin-left: 11rem;
  }

  .lg\:ml-40{
    margin-left: 10rem;
  }

  .lg\:-ml-\[800px\]{
    margin-left: -800px;
  }

  .lg\:-ml-\[870px\]{
    margin-left: -870px;
  }

  .lg\:-ml-\[890px\]{
    margin-left: -890px;
  }

  .lg\:-ml-\[910px\]{
    margin-left: -910px;
  }

  .lg\:-ml-\[950px\]{
    margin-left: -950px;
  }

  .lg\:-ml-\[250px\]{
    margin-left: -250px;
  }

  .lg\:mt-\[90px\]{
    margin-top: 90px;
  }

  .lg\:-ml-\[900px\]{
    margin-left: -900px;
  }

  .lg\:-ml-\[880px\]{
    margin-left: -880px;
  }

  .lg\:-ml-\[860px\]{
    margin-left: -860px;
  }

  .lg\:-ml-\[260px\]{
    margin-left: -260px;
  }

  .lg\:-ml-\[300px\]{
    margin-left: -300px;
  }

  .lg\:-ml-\[700px\]{
    margin-left: -700px;
  }

  .lg\:mt-\[170px\]{
    margin-top: 170px;
  }

  .lg\:-ml-\[1020px\]{
    margin-left: -1020px;
  }

  .lg\:-ml-\[1030px\]{
    margin-left: -1030px;
  }

  .lg\:-ml-\[1050px\]{
    margin-left: -1050px;
  }

  .lg\:-ml-\[1045px\]{
    margin-left: -1045px;
  }

  .lg\:-ml-44{
    margin-left: -11rem;
  }

  .lg\:ml-36{
    margin-left: 9rem;
  }

  .lg\:ml-32{
    margin-left: 8rem;
  }

  .lg\:mr-20{
    margin-right: 5rem;
  }

  .lg\:mr-64{
    margin-right: 16rem;
  }

  .lg\:ml-64{
    margin-left: 16rem;
  }

  .lg\:block{
    display: block;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:h-\[40rem\]{
    height: 40rem;
  }

  .lg\:h-\[873\.4869995117188px\]{
    height: 873.4869995117188px;
  }

  .lg\:h-\[540px\]{
    height: 540px;
  }

  .lg\:h-\[659px\]{
    height: 659px;
  }

  .lg\:h-\[418px\]{
    height: 418px;
  }

  .lg\:h-\[776\.5px\]{
    height: 776.5px;
  }

  .lg\:h-\[377px\]{
    height: 377px;
  }

  .lg\:w-\[24rem\]{
    width: 24rem;
  }

  .lg\:w-\[726px\]{
    width: 726px;
  }

  .lg\:w-\[524px\]{
    width: 524px;
  }

  .lg\:w-\[704px\]{
    width: 704px;
  }

  .lg\:w-\[721\.5px\]{
    width: 721.5px;
  }

  .lg\:w-\[406px\]{
    width: 406px;
  }

  .lg\:w-\[236px\]{
    width: 236px;
  }

  .lg\:w-\[600px\]{
    width: 600px;
  }

  .lg\:w-\[180px\]{
    width: 180px;
  }

  .lg\:w-\[200px\]{
    width: 200px;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:w-fit{
    width: -moz-fit-content;
    width: fit-content;
  }

  .lg\:w-\[100\%\]{
    width: 100%;
  }

  .lg\:w-297{
    width: 297.77740478515625px;
  }

  .lg\:w-auto{
    width: auto;
  }

  .lg\:justify-between{
    justify-content: space-between;
  }

  .lg\:gap-7{
    gap: 1.75rem;
  }

  .lg\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .lg\:overflow-hidden{
    overflow: hidden;
  }

  .lg\:overflow-clip{
    overflow: clip;
  }

  .lg\:bg-red-800{
    --tw-bg-opacity: 1;
    background-color: rgb(153 27 27 / var(--tw-bg-opacity, 1));
  }

  .lg\:bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  }

  .lg\:bg-red-700{
    --tw-bg-opacity: 1;
    background-color: rgb(185 28 28 / var(--tw-bg-opacity, 1));
  }

  .lg\:bg-black{
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
  }

  .lg\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .lg\:px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .lg\:px-36{
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .lg\:px-48{
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .lg\:px-64{
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .lg\:px-72{
    padding-left: 18rem;
    padding-right: 18rem;
  }

  .lg\:px-80{
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .lg\:px-96{
    padding-left: 24rem;
    padding-right: 24rem;
  }

  .lg\:px-\[25rem\]{
    padding-left: 25rem;
    padding-right: 25rem;
  }

  .lg\:px-\[27rem\]{
    padding-left: 27rem;
    padding-right: 27rem;
  }

  .lg\:px-\[28rem\]{
    padding-left: 28rem;
    padding-right: 28rem;
  }

  .lg\:px-\[30rem\]{
    padding-left: 30rem;
    padding-right: 30rem;
  }

  .lg\:pt-11{
    padding-top: 2.75rem;
  }

  .lg\:pt-40{
    padding-top: 10rem;
  }

  .lg\:pt-96{
    padding-top: 24rem;
  }

  .lg\:pt-\[300px\]{
    padding-top: 300px;
  }

  .lg\:pt-\[500px\]{
    padding-top: 500px;
  }

  .lg\:pt-\[900px\]{
    padding-top: 900px;
  }

  .lg\:pl-64{
    padding-left: 16rem;
  }

  .lg\:pr-64{
    padding-right: 16rem;
  }

  .lg\:pt-24{
    padding-top: 6rem;
  }

  .lg\:pt-48{
    padding-top: 12rem;
  }

  .lg\:pt-56{
    padding-top: 14rem;
  }

  .lg\:pt-64{
    padding-top: 16rem;
  }

  .lg\:pt-72{
    padding-top: 18rem;
  }

  .lg\:pl-\[25rem\]{
    padding-left: 25rem;
  }

  .lg\:pr-\[25rem\]{
    padding-right: 25rem;
  }

  .lg\:pr-\[26rem\]{
    padding-right: 26rem;
  }

  .lg\:pl-\[27rem\]{
    padding-left: 27rem;
  }

  .lg\:pr-\[27rem\]{
    padding-right: 27rem;
  }

  .lg\:pl-\[28rem\]{
    padding-left: 28rem;
  }

  .lg\:pr-\[28rem\]{
    padding-right: 28rem;
  }

  .lg\:pl-\[30rem\]{
    padding-left: 30rem;
  }

  .lg\:pl-16{
    padding-left: 4rem;
  }

  .lg\:pl-80{
    padding-left: 20rem;
  }

  .lg\:pl-96{
    padding-left: 24rem;
  }

  .lg\:pl-\[400px\]{
    padding-left: 400px;
  }

  .lg\:pl-\[500px\]{
    padding-left: 500px;
  }

  .lg\:pl-\[550px\]{
    padding-left: 550px;
  }

  .lg\:pr-60{
    padding-right: 15rem;
  }

  .lg\:pr-96{
    padding-right: 24rem;
  }

  .lg\:pl-\[450px\]{
    padding-left: 450px;
  }

  .lg\:pt-80{
    padding-top: 20rem;
  }

  .lg\:pt-52{
    padding-top: 13rem;
  }

  .lg\:pt-36{
    padding-top: 9rem;
  }

  .lg\:pt-32{
    padding-top: 8rem;
  }

  .lg\:pt-28{
    padding-top: 7rem;
  }

  .lg\:pt-20{
    padding-top: 5rem;
  }

  .lg\:text-center{
    text-align: center;
  }

  .lg\:text-right{
    text-align: right;
  }

  .lg\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-\[18px\]{
    font-size: 18px;
  }

  .lg\:font-medium{
    font-weight: 500;
  }

  .lg\:text-black{
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
  }
}